# Project exclude paths
/.gradle/
/Problems/Just checking/out/
/Problems/Just checking/out/production/classes/
/Problems/Palindrome/out/
/Problems/Palindrome/out/production/classes/
/Tic-Tac-Toe/task/build/
/Tic-Tac-Toe/task/out/
/Tic-Tac-Toe/task/out/production/classes/